[submodule "themes/archie"]
	path = themes/archie
	url = https://github.com/athul/archie.git
[submodule "themes/hugo-theme-cactus"]
	path = themes/hugo-theme-cactus
	url = https://github.com/monkeyWzr/hugo-theme-cactus.git
