{{ define "main" }}
<article class="post" itemscope itemtype="https://schema.org/BlogPosting">
  <div class="content" itemprop="articleBody">
    {{ if (eq .Type "tags") }}
    <div id="tag-cloud">
      {{ if eq (len .Data.Terms) 0 }}
      <div class="tag-cloud-title">
        No tags
      </div>
      {{ else }}
      <div class="tag-cloud-tags">
        {{ range $elem := .Data.Terms.Alphabetical }}
          {{ if ne .Page.Title "Draft" }}
            {{ $nonDraftCount := 0 }}
            {{ range $elem.Pages }}
              {{ if not (in .Params.tags "Draft") }}
                {{ $nonDraftCount = add $nonDraftCount 1 }}
              {{ end }}
            {{ end }}
            {{ if gt $nonDraftCount 0 }}
            <a href="{{ $elem.Page.Permalink | relURL }}" style="display: inline-block; margin: 0.5rem;">
              {{- .Page.Title -}} ({{ $nonDraftCount }})
            </a>
            {{ end }}
          {{ end }}
        {{ end }}
      </div>
      {{ end }}
    </div>
    {{ else if (eq .Type "categories") }}
    <div id="categories">
      {{ if eq (len .Data.Terms) 0 }}
      <div class="category-list-title">
        No categories
      </div>
      {{ else }}
      <div class="category-list">
        <ul class="category-list">
          {{ range .Data.Terms.Alphabetical }}
          <li class="category-list-item">
            <a class="category-list-link" href="{{ .Page.Permalink | relURL }}">{{ .Page.Title }}</a>
            <span class="category-list-count">{{ .Count }}</span>
          </li>
          {{ end }}
        </ul>
      </div>
      {{ end }}
    </div>
    {{ end }}
  </div>
</article>
{{ end }}
