<head>
  <link rel="preload" href="{{ "lib/font-awesome/webfonts/fa-brands-400.woff2" | absURL }}" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="{{ "lib/font-awesome/webfonts/fa-regular-400.woff2" | absURL }}" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="{{ "lib/font-awesome/webfonts/fa-solid-900.woff2" | absURL }}" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ "lib/font-awesome/css/all.min.css" | absURL }}">
  <link rel="preload" href="{{ "lib/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2" | absURL }}" as="font" type="font/woff2" crossorigin="anonymous">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ if .IsPage }} {{ .Title }} | {{ end }}{{ .Site.Title }}</title>
  <link rel="canonical" href="{{ .Permalink }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="all,follow">
  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/twitter_cards.html" . }}

  {{ $colortheme := or .Site.Params.Colortheme "white" }}
  {{ $options := (dict "targetPath" "css/styles.css" "outputStyle" "compressed" "enableSourceMap" "true") }}
  {{ $styles := resources.Get "scss/style.scss" | resources.ExecuteAsTemplate "scss/style.scss" . | resources.ToCSS $options | resources.Fingerprint "sha512" }}
  <link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}">
  
  <!-- Favicon -->
  {{ partial "favicon.html" . }}

  {{ if .Site.Params.rss }}
  {{ with .OutputFormats.Get "RSS" }}
    <link href="{{ .Permalink }}" rel="{{ .Rel }}" type="{{ .MediaType.Type }}" title="{{ $.Site.Title }}">
  {{ end }}
  {{ end }}
</head>
