<ul>
  {{ $icon_class_name := .Scratch.Get "icon_class_name" | default "default-icon-class" }}
  
  {{ $description := .Description | default .Summary }}
  
  <li>
    <a class="icon" href="https://www.facebook.com/sharer.php?u={{ .Permalink | urlEncode }}" aria-label="Facebook">
      <i class="fab fa-facebook {{ $icon_class_name }}" aria-hidden="true"></i>
    </a>
  </li>
  <li>
    <a class="icon" href="https://twitter.com/share?url={{ .Permalink | urlEncode }}&text={{ .Title | urlQueryEscape }}" aria-label="Twitter">
      <i class="fab fa-twitter {{ $icon_class_name }}" aria-hidden="true"></i>
    </a>
  </li>
  <li>
    <a class="icon" href="https://www.linkedin.com/shareArticle?url={{ .Permalink | urlEncode }}&title={{ .Title | urlQueryEscape }}" aria-label="LinkedIn">
      <i class="fab fa-linkedin {{ $icon_class_name }}" aria-hidden="true"></i>
    </a>
  </li>
  <li>
    <a class="icon" href="https://pinterest.com/pin/create/bookmarklet/?url={{ .Permalink | urlEncode }}&is_video=false&description={{ .Title | urlQueryEscape }}" aria-label="Pinterest">
      <i class="fab fa-pinterest {{ $icon_class_name }}" aria-hidden="true"></i>
    </a>
  </li>
  <li>
    <a class="icon" href="mailto:?subject={{ .Title | urlQueryEscape }}&body=Check out this article: {{ .Permalink | urlEncode }}" aria-label="Email">
      <i class="fas fa-envelope {{ $icon_class_name }}" aria-hidden="true"></i>
    </a>
  </li>
  <li>
    <a class="icon" href="https://getpocket.com/save?url={{ .Permalink | urlEncode }}&title={{ .Title | urlQueryEscape }}" aria-label="Pocket">
      <i class="fab fa-get-pocket {{ $icon_class_name }}" aria-hidden="true"></i>
    </a>
  </li>
  <li>
    <a class="icon" href="https://reddit.com/submit?url={{ .Permalink | urlEncode }}&title={{ .Title | urlQueryEscape }}" aria-label="Reddit">
      <i class="fab fa-reddit {{ $icon_class_name }}" aria-hidden="true"></i>
    </a>
  </li>
  <li>
    <a class="icon" href="https://www.tumblr.com/share/link?url={{ .Permalink | urlEncode }}&name={{ .Title | urlQueryEscape }}&description={{ $description | urlQueryEscape }}" aria-label="Tumblr">
      <i class="fab fa-tumblr {{ $icon_class_name }}" aria-hidden="true"></i>
    </a>
  </li>
  <li>
    <a class="icon" href="https://news.ycombinator.com/submitlink?u={{ .Permalink | urlEncode }}&t={{ .Title | urlQueryEscape }}" aria-label="Hacker News">
      <i class="fab fa-hacker-news {{ $icon_class_name }}" aria-hidden="true"></i>
    </a>
  </li>
</ul>
