{{ define "main" }}
 <section id="about">
   {{ if isset .Site.Params "description" }}
     <p style="display: inline;">{{ .Site.Params.description }}</p>
     <span style="display: inline;">You can find me on 
       <a href="https://github.com/13Mai13" class="social-icon" target="_blank" style="text-decoration: none;">
         <i class="fab fa-github"></i>
       </a>
       and
       <a href="https://www.linkedin.com/in/maialen-berrondo-43197b94/" class = "social-icon" target="_blank" style="text-decoration: none;">
         <i class="fab fa-linkedin"></i>
       </a>,
       also learn a bit more about me <a href="/about">here</a>.</span>
   {{ end }}
 </section>

 <section id="writing">
   <span class="h1"><a href="{{ "/posts" | absURL }}">{{ .Site.Params.mainSectionTitle | default "Writings" }}</a></span>
   {{ if (and (and (isset .Site.Params "tagsoverview") (eq .Site.Params.tagsOverview true)) (gt (len .Site.Taxonomies.tags) 0)) }}
   <span class="h2">Topics</span>
   <span class="widget tagcloud">
     {{ $AllRegularPagesCount := len .Site.RegularPages }}
     {{ range $elem := .Site.Taxonomies.tags.Alphabetical }}
     <a style="font-size: {{ (add 0.5 (mul 5 (div (float $elem.Count) $AllRegularPagesCount))) }}rem;" href="{{ $elem.Page.Permalink }}">
       {{- .Page.Title -}}
     </a>
     {{ end }}
   </span>
   <span class="h2">Most recent</span>
   {{ end }}

   {{ $showAllPostsOnHomePage := false }}
   {{ if (isset .Site.Params "showallpostsonhomepage") }}
     {{ $showAllPostsOnHomePage = .Site.Params.ShowAllPostsOnHomePage }}
   {{ end }}
   {{ $dataFormat := .Site.Params.dateFormat | default "2006-01-02" }}
   {{ $allPosts := (where site.RegularPages "Type" "posts") }}
   {{ $mainPosts := slice }}
   {{ range $allPosts }}
     {{ if not (in .Params.tags "Draft") }}
       {{ $mainPosts = $mainPosts | append . }}
     {{ end }}
   {{ end }}
   {{ $mainPosts = sort $mainPosts "Date" "desc" }}
   {{ if $showAllPostsOnHomePage }}
   <ul class="post-list">
     {{ range (.Paginate $mainPosts).Pages }}
       <li class="post-item">
         <div class="meta"><time datetime="{{ time .Date }}" itemprop="datePublished">{{ .Date.Format $dataFormat }}</time></div>
         <span><a href="{{ .Permalink }}">{{ if .Title }} {{- .Title -}} {{ else }} {{- print "Untitled" -}}{{ end }}</a></span>
       </li>
     {{ end }}
   </ul>

   {{ partial "pagination.html" . }}

   {{ else }}
   <ul class="post-list">
     {{ .Scratch.Set "count" 5 }}
     {{ if isset .Site.Params "postsonhomepage" }}
       {{ .Scratch.Set "count" .Site.Params.postsOnHomePage }}
     {{ end }}
     {{ range (first (.Scratch.Get "count") $mainPosts) }}
       <li class="post-item">
         <div class="meta"><time datetime="{{ time .Date }}" itemprop="datePublished">{{ .Date.Format $dataFormat }}</time></div>
         <span><a href="{{ .Permalink }}">{{ if .Title }} {{- .Title -}} {{ else }} {{- print "Untitled" -}}{{ end }}</a></span>
       </li>
     {{ end }}
   </ul>
   {{ end }}
 </section>

 <section id="newsletter" style="margin-top: 3rem; padding-top: 2rem; border-top: 1px solid #eee; text-align: center;">
   <span class="h2">Subscribe to the Newsletter</span>
   <p>I post here sporadically, but I write <strong>weekly on Substack</strong> with structured thoughts on AI, engineering, and everything in between.</p>
   <div style="display: flex; justify-content: center;">
     <iframe src="https://aibymai.substack.com/embed" width="480" height="320" style="border: 1px solid #EEE; background: white; max-width: 100%;" frameborder="0" scrolling="no"></iframe>
   </div>
 </section>

{{ end }}